<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="kr.co.bravomylife.front.sale.dto.SaleDto"						alias="saleDto" />
		<typeAlias type="kr.co.bravomylife.front.common.dto.PagingDto"					alias="pagingDto" />
	</typeAliases>
	<mappers>
		<mapper resource="kr/co/bravomylife/front/mybatis/sale/Sale.xml" />
	</mappers>
</configuration>